.footer{
    display: flex;
    padding: 3em 0em 0em;
    background-color: var(--color-three );
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-socialMedia p{
    color:var(--color-one);
    font-size: var(--font-size-two);
}