nav{
    width: auto;
    height: 7rem;
    background-color: var(--color-three);
    display: grid;
    grid-template-rows: 30% 40% 30%;
    grid-template-columns: 5% 10% 65% 15% 5%;
}
.nav-logo{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    width: 1.5em;
    height: 1.5em;
    background-color: var(--color-one);
    border-radius: 30px;

    
}
.nav-contactMe{
    height: 100%;
    grid-column: 4/5;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-three);
    font-weight: 700;
    background-color: var(--color-one);
    border-radius: 5px;
    font-size: 2rem;
    text-decoration: none;
}
