@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
  --color-one :#4f338f;
  --color-two :#aa7dff;
  --color-three :#e5d8ff;
  --color-four :#efebff;
  margin: 0px;
  font-family:'Dosis', sans-serif;
  color: var(--color-four);
}