@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
  --color-one :#4f338f;
  --color-two :#aa7dff;
  --color-three :#e5d8ff;
  --color-four :#efebff;
  --font-size-one: 1.5rem;
  --font-size-two: 2rem;
  --font-size-three: 3rem;
  --font-size-four: 4rem;
  color: var(--color-four);
  margin: 0px;

  font-family:'Dosis', sans-serif;
}